.container-logo{
width: 95%;
display: flex;

}

.image-logo{
    width: 60%;

}


.img-logo{
    width: 200px;
    height: 100px;

}

/* .letra-logo{
    width: 70%;
    height: 100px;
    
} */

.letra-logo{
    width: 100%;
    height: 200px;
}

.registro-sesion{
    width: 30%;
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-top: 4px solid rgb(3, 3, 84);
    border-bottom: 4px solid rgb(3, 3, 84);
    margin: 8px 0 12px 0;
}
.div-registrar{
    display: flex;
    flex-direction: column;
}


.boton-registrar{
    width: 100px;
    background: rgb(3, 3, 84);
    border: none;
    border-radius: 5px;
    height: 30px;
}

.boton-registrar  a{
    color: white;
    text-decoration: none;
    font-size: large;
}
.boton-registrar a:hover{
    color: black;
    border: none;
}
.boton-registrar :hover{
    color: black;
    background-color: bisque;
    box-shadow: 5px 5px 5px orange;
    border: 1px solid black;

}

.div-entra{
    width: 100px;
}

.boton-entra{
    width: 100px;
    background: rgb(3, 3, 84);
    border: none;
    border-radius: 5px;
    height: 30px;
}

.boton-entra  a{
    color: white;
    text-decoration: none;
    font-size: large;
}
.boton-entra a:hover{
    color: black;
    border: none;
}
.boton-entra :hover{
    color: black;
    background-color: bisque;
    box-shadow: 5px 5px 5px orange;
    border: 1px solid black;

}