.container-logo{
width: 95%;
display: flex;

}

.image-logo{
    width: 60%;

}


.img-logo{
    width: 200px;
    height: 100px;

}

/* .letra-logo{
    width: 70%;
    height: 100px;
    
} */

.letra-logo{
    width: 100%;
    height: 200px;
}




