/* .slider-img{
    width: 100%;
    overflow: hidden;
}

.slider-img img {
    width: 100%; }

 */


/* /AQUI EMPIEZA LOS ESTILOS DEL SLIDER/ */

.slider-container{
    display: flex;
   
    background-color: rgb(159, 206, 212);
  
}
.slider{
    width: 100%;
    overflow: hidden;
     
 }

 .slider ul{
    width: 400%;
    animation: cambio 20s alternate;
    display: flex;
  
 
 }

.slider ul li{
    width: 100%;
    height: 50%;
    float: left;
    list-style: none;
   
}
.slider ul li img{
    width: 94%;
    height: 500px;
    margin-top: 2px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 100px;
    
}

/* .slider_nav{
    display: flex;
    justify-content: center;
}

.slider_nav ul {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
}

.slider_nav ul li a{
   display: flex;
} */


/* .slider-derecho{
    width: 30%;
    overflow: hidden;
     
 }

 .slider-derecho ul{
    width: 400%;
    animation: cambioArriba 20s alternate;
    display: flex;
    float: inline-start;
    transform: translateZ(0);
  
 
 }

.slider-derecho ul li{
    width: 100%;
    height: 50%;
    float: left;
    list-style: none;
   
}
.slider-derecho ul li img{
    width: 100%;
    height: 200px;
    margin-top: 2px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 100px;
    
} */

/* .slider_nav{
    display: flex;
    justify-content: center;
}

.slider_nav ul {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
}

.slider_nav ul li a{
   display: flex;
} */

/* /El movimiento del slider/ */

@keyframes cambio {
    0%{margin-left: 0%;}
    20%{margin-left: 0%;}

    25%{margin-left: -100%;}
    45%{margin-left: -100%;}

    50%{margin-left: -200%;}
    70%{margin-left: -200%;}

    75%{margin-left: -300%;}
    100%{margin-left: -300%;}
    
}















