.nav{padding: 0;
  margin: 0 0 2px 0;
  width: 100%;
  background-color: rgb(3, 3, 84);
  height: 40px;
  align-content: center;
  display: flex;
  align-items: center;
  align-content: space-between;


}

.nav-izquierdo{
    display: flex;
    gap: 10px;
    list-style: none;
   
}

.nav-izquierdo li a{
color: white;
size: 25px;
text-decoration: none;
font-size: 20px;

}

.nav-izquierdo li a:hover{
  color: black;
  background-color: white;
 
}

.buscador{
  height: 30px;
  margin-left: 10px;
  margin-right: 10px;
  width: 350px;
  background: rgb(5, 103, 223);
  color: white;
}

::placeholder{
color: white;
font-size: 20px;
}

.navbar-derecho{
  display: flex;
  gap: 10px;
  list-style: none;
}

.navbar-derecho li a{
color: white;

}

.select-product-container{
  background-color: rgb(3, 3, 84);
  color: white;
}

