.div-img-container{
    width: 100%;
    padding: 0;
    margin: 4px;
}

.div-product{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

  .img-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
}  

.cuadro-productos{
    display: flex;
    flex-direction: column;
    width: 100%;
    /* border: 2px solid rgb(156, 145, 126);
    border-radius: 10px; */
   overflow: hidden;
}

figure{
    width: 100%;
    margin: 0;
    overflow: hidden;
  
}

/* figure:hover{
    overflow: hidden;
    width: auto;
} */


.img{
    width: 100%;
    height: 300px;
     border-radius: 10px;
    border: 2px solid rgb(151, 147, 147);
}

/* .img:hover{
    width: 600px;
    height: 500px;
    position: absolute;
    z-index: 1;
    cursor: pointer;
} */

.taza{
    /* border: 2px solid gray;
    box-shadow: 5px 5px 5px gray; */
    margin: 10px 0 10px 0;
     background-color: rgb(2, 2, 79);
    width: 100%;
}

.polocher{
    margin: 10px 0 10px 0;
    background-color: rgb(2, 2, 79);

    width: 100%;


}

.termo  {
    margin: 10px 0 10px 0;
    background-color: rgb(2, 2, 79);
    width: 100%;

}
.portaretrato{
    margin: 10px 0 10px 0;
    background-color: rgb(2, 2, 79);

    width: 100%;

}

.img-termo{
    width: 100%;
    margin: 2px 0 2px 0;
    height: 600px;
    border-radius: 10px;
    border: 2px solid rgb(151, 147, 147);  
}

.img-termo:hover{
    width: 500px;
    height: 600px;
    position: absolute;
}

.buscador{
    border: none;
    text-align: -webkit-center;
    border-radius: 6px;
    position: absolute;
    left: 780px;
    top: 105px;
    height: 40px;
    margin-left: 10px;
    margin-right: 10px;
    width: 400px;
    background: rgb(5, 103, 223);
    color: white;
  }

  .detalles-productos{
    display: flex;

    justify-items: space-between;
    margin: 10px 0 20px 0;
}
  .carritos{
    background: rgb(150, 224, 150);
    border: transparent;
    width: 200px;
    height: 30px;
    margin: auto;
    cursor: pointer;
    padding-bottom: 10px;
    border-radius: 15px;
  }
  
  ::placeholder{
  color: white;
  font-size: 20px;
  }

  
  @media (max-width:640px){
    .buscador{
        width: 50%;
        position: absolute;
        left: 279px;
      }
  }
