.div-img-container{
    width: 100%;
    margin: 0 10px 10px 10px;
}

.div-product{
    display: flex;
    flex-direction: column;
}

  .img-container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    width:100%;
    gap: 10px;
}  

.cuadro-productos{
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 1px solid orange;
    border-radius: 10px;
    margin: 4px;
}
.detalles-productos{
    display: flex;
    justify-items: space-between;
}

.img{
    width: 100%;
    height: 300px;
}

.taza{
    border: 2px solid gray;
    box-shadow: 5px 5px 5px gray;
    margin: 2px 0 2px 0;



}
.polocher{
    border: 2px solid gray;
    box-shadow: 5px 5px 5px gray;
    margin: 2px 0 2px 0;

}

.termo  {
    margin: 2px 0 2px 0;
    border: 2px solid gray;
    box-shadow: 5px 5px 5px gray;
}
.portaretrato{
    margin: 2px 0 2px 0;
    border: 2px solid gray;
    box-shadow: 5px 5px 5px gray;
}

.img-termo{
    width: 100%;
    margin: 2px 0 2px 0;
    height: 600px;
}

