.div-img-container{
    width: 100%;
    margin: 0 10px 10px 10px;
}

.div-product{
    display: flex;
    flex-direction: column;
}

  .img-container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    width:100%;
    gap: 10px;
}  

.cuadro-productos{
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 1px solid orange;
    border-radius: 10px;
    margin: 4px;
}
.detalles-productos{
    display: flex;
    justify-items: space-between;
}

.img{
    width: 100%;
    height: 300px;
}

.taza{
    border: 2px solid gray;
    box-shadow: 5px 5px 5px gray;
    margin: 10px 0 10px 0;
    background-color: white;



}
.polocher{
    border: 2px solid gray;
    box-shadow: 5px 5px 5px gray;
    margin: 10px 0 10px 0;
    background-color: white;


}

.termo  {
    margin: 2px 0 2px 0;
    border: 2px solid gray;
    box-shadow: 5px 5px 5px gray;
    background-color: white;

}
.portaretrato{
    margin: 2px 0 2px 0;
    border: 2px solid gray;
    box-shadow: 5px 5px 5px gray;
    background-color: white;

}

.img-termo{
    width: 100%;
    margin: 2px 0 2px 0;
    height: 600px;
}

.buscador{
    border: none;
    text-align: -webkit-center;
    border-radius: 6px;
    position: absolute;
    left: 780px;
    top: 105px;
    height: 40px;
    margin-left: 10px;
    margin-right: 10px;
    width: 400px;
    background: rgb(5, 103, 223);
    color: white;
  }
  
  ::placeholder{
  color: white;
  font-size: 20px;
  }

  
  @media (max-width:640px){
    .buscador{
        width: 50%;
        position: absolute;
        left: 279px;
      }
  }
